/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    /* Opcional: agrega algo de margen para separar visualmente */
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Menú de navegación */
header nav ul {
    display: flex;
    list-style-type: none;
    background-color: #333;
    padding: 10px;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: #555;
}

/* Sección principal */
main {
    padding: 20px;
}

/* Listas */
ul, ol {
    list-style-type: none;
    padding: 0;
}

ol {
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
    margin: 0 auto;
    max-width: 600px;
}

.receta ol {
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

/* Formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

form label, form input, form textarea, form button {
    margin-bottom: 10px;
}

form input, form textarea {
    padding: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Sección de fotos */
.foto, .evento, .receta {
    margin-bottom: 20px;
    text-align: center;
}

section img, .foto img, .receta img {
    width: 20%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.foto p, .receta p, .evento p {
    margin-top: 5px;
    font-style: italic;
    color: #555;
}

/* Estilos para los eventos */
.evento {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.evento h2 {
    margin-bottom: 5px;
    color: #333;
}
